@font-face {
    font-family: 'Death Star', sans-serif;
    src: url(../font/Death-Star.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

p {
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

header{
    background: url("../img/header-no-logo.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 25vh;
}

header .header-bg {
    background-color: rgba(0,38,50,0.7);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

header .header-bg h1 {
    color: #ffffff;
    font-family: "Death Star", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

main {
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

main h2 {
    margin: 20px 5%;
    font-family: "Death Star", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #142D4C;
    text-align: center;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-list .card-container {
    background-color: #142D4C;
    border-radius: 10px;
    min-width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    box-shadow: 3px 3px  5px #000000;
    margin-bottom: 30px;
}

.card-list .card-container .card-img {
    width: 300px;
    height: auto;
    margin-right: 30px;
}

.card-list .card-container .card-content{
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 0px;
}

.card-list .card-container .card-content h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.card-list .card-container .card-content p{
    font-size: 16px;
    color: #9FD3C7;
}

.card-list .card-container .card-content .btn-list{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 10px;
}

.card-list .card-container .card-content .btn-list a{
    display: block;
    padding: 10px;
    background-color: #9FD3C7;
    color: #142D4C;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #385170;
    box-shadow: 3px 3px  0px #385170;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.card-list .card-container .card-content .btn-list a:hover{
    background-color: #385170;
    color: #9FD3C7;
    border: 2px solid #9FD3C7;
    box-shadow: 3px 3px  0px #9FD3C7;
    transform: translateY(-5px);
    transition: all 200ms;
}

footer {
    background-color: #ECECEC;
    text-align: center;
    font-family: monospace;
    padding: 40px 15px; 
}

footer  .footer-txt p{
    font-size: 18px;
    font-weight: 900;
    color: #142D4C;
}

footer .footer-link {
    margin-top: 10px;

}

footer .footer-link a{
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

footer .footer-link a:hover{
    color: #385170;
    transform: translateY(-5px);
    transition: all 300ms;

}

@media screen and (max-width: 768px){
header .header-bg h1 {
    font-size: 1.6rem;
}
.card-list .card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-list .card-container .card-img {
    width: 100%;
    height: auto;
    margin-right: 0;
}
.card-list .card-container .card-content{
    font-size: 16px;
    font-family: sans-serif;
    margin: 30px 0px;
}

}